body {
    margin: 0;
    font-family: sans-serif;
    font-size: 62.5%;
}

/* HEADER & NAV */

header {
    display: flex;
    height: 50px;
    background-color: black;
    align-items: flex-start;
    justify-content: flex-end;
    overflow-x: hidden;
}

header h1 {
    align-self: flex-start;
    color: white;
    margin: 0 auto 0 10px;
    height: 50px;
    line-height: 50px;
    font-size: 3em;
}

header nav {
    position: fixed;
    display: flex;
    margin: 0;
    color: white;
    list-style-type: none;
    transform: translate(100%, 0);
    transition: transform 250ms;
    width: 50%;
    height: 100vh;
    background-color: white;
    border-left: 1px solid grey;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header nav button {
    position: absolute;
    right: calc(100% + 10px);
    font-size: 2em;
    height : 50px;
    line-height: 50px;
    align-self: flex-start;
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 0;
}

header nav ul {
    margin: 10px;
    padding: 0;
    list-style-type: none;
}

header nav a {
    display: block;
    line-height: 1.4em;
    color: black;
    font-size: 2em;
    padding: .5em 1em;
}

header nav a:hover {
    background-color: black;
    color : white;
}

body.open header nav {
    transform: translate(0, 0);
}

/*and (max-width: 640px)*/
@media screen and (min-width: 640px) {
    header {

    }
}

/* BLOG CONTENT */

main {
    display: flex;
    width: 100%;
    justify-content: center;
}

main article {
    margin: 5vh 0 0 0;
    max-width: 960px;
}

main article:not(:last-of-type):after {
    content: '';
    width: 20vw;
    height: 5px;
    background-color: black;
    display: block;
    margin: 4em auto;
}

main article h2 {
    background-color: black;
    color: white;
    display: inline-block;
    padding: .3em 1em;
    margin: 0;
    font-size: 3em;
}

main article > div {
    display: flex;
    align-items: flex-start;
}

main article > div iframe,
main article > div audio,
main article > div video,
main article > div img {
    display: flex;
    align-self: center;
    max-width: 1000%;
    width: 100%;
    height: auto;
    min-width: 0;
}

main article > div iframe {
    height : 300px;
}

main article > div p {
    max-width: 350px;
    margin-right: 5vw;
    font-size: 1.6em;
}

main article:last-of-type {
    margin: 5vh 0;
}

/* FORM */
form {
    display: flex;
    width: 50%;
    padding: 5vw;
    justify-content: center;
    border : 3px solid black;
    margin : 0 auto;
    flex-direction: column;
    margin-bottom: 5em;
}

form label {
    display: flex;
    width: 80%;
    align-items: center;
    font-size: 2em;
    margin-bottom: 1em;
}

form input {
    flex-grow: 1;
    margin-left: 2em;
}

form button {
    background-color: black;
    color : white;
    align-self: center;
    padding: .5em 1em;
    border: 0;
    font-size: 3em;
}

/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    color : white;
    padding: 5vw;
}

footer ul {
    list-style-type: none;
    display: flex;
    margin : 0;
    padding: 0;
}
footer ul li  {
  flex-grow: 1;
    text-align: center;
}
footer ul a {
    color : white;
    padding: .5em 1em;
}

footer ul a:hover {
    background-color: white;
    color : black;
}

footer div {
    padding: 0 5vw;
    font-size: 2em;
    margin-bottom: 2em;
}